@inherits ApiFormBase
@page "/api-form"
@page "/api-form/{Id:guid}"
@using ApiCraftSystem.Helper.Enums
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@attribute [Authorize]

<script src="js/beautifier.js"></script>

<PageTitle>@(Id.HasValue ? "Edit API" : "Add API")</PageTitle>

   @if (isError)
   {
    <div class="alert alert-danger">Internal Server Error. Please call administrator</div>
    }

@if (_editContext is not null)
{
 
<EditForm  EditContext="_editContext" OnSubmit="@SaveForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link @(CurrentStep == 1 ? "active" : "")" @onclick="() => SetStep(1)">Main Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(CurrentStep == 2 ? "active" : "")" @onclick="() => SetStep(2)">API Headers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(CurrentStep == 3 ? "active" : "")" @onclick="() => SetStep(3)">API Mapping</a>
                </li>
                
                @if(ApiForm.MethodeType == ApiMethodeType.Post)
                {
                     <li class="nav-item">
                    <a class="nav-link @(CurrentStep == 4 ? "active" : "")" @onclick="() => SetStep(4)">API Payload</a>
                     </li>

                      <li class="nav-item">
                    <a class="nav-link @(CurrentStep == 5 ? "active" : "")" @onclick="() => SetStep(5)">Scheduling</a>
                        </li>
                    }
                 else
                 {
                       <li class="nav-item">
                    <a class="nav-link @(CurrentStep == 4 ? "active" : "")" @onclick="() => SetStep(4)">Scheduling</a>
                        </li>
                        
                    }
                 
              
            </ul>
        </div>

        <div class="card-body">
  
            @if (CurrentStep == 1)
            {


                <div class="row">

                    <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <InputText @bind-Value="ApiForm.Title" class="form-control" />
                   </div>


                   <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Description</label>
                    <InputText @bind-Value="ApiForm.Description" class="form-control" />
                   </div>

                </div>

   

                <div class="row">
                     <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">URL</label>
                    <InputText @bind-Value="ApiForm.Url" class="form-control" required />
                </div>

                 <div class="col-md-6 mb-3">
                <label for="exampleFormControlInput4" class="form-label">DataBase Type</label>
                <InputSelect @bind-Value="ApiForm.DatabaseType" class="form-select" required>
                    @foreach (DatabaseType type in Enum.GetValues(typeof(DatabaseType)))
                    {
                        <option value="@type">@type</option>
                    }
                </InputSelect>
                    </div>
               
                </div>


                <div class="row">
                     <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">API Response</label>
                    <InputTextArea @bind-Value="ApiForm.ApiResponse" class="form-control" rows="1" />
                </div>

                 <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">DB Server Ip</label>
                    <InputText @bind-Value="ApiForm.ServerIp" class="form-control" />
                </div>
                </div>



                
                <div class="row"> <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Database Name</label>
                    <InputText @bind-Value="ApiForm.DatabaseName" class="form-control" required />
                </div>


                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Destination Table Name</label>
                    <InputText @bind-Value="ApiForm.TableName" class="form-control" required/>
                </div></div>
                <div class="row"><div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Database User Name</label>
                    <InputText @bind-Value="ApiForm.DatabaseUserName" class="form-control" />
                </div>

                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Schema Name</label>
                    <InputText @bind-Value="ApiForm.SchemaName" class="form-control" />
                </div></div>
                <div class="row"><div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Database User Password</label>
                    <InputText @bind-Value="ApiForm.DatabaseUserPassword" class="form-control" type="password"/>
                </div>

                  <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Connection String</label>
                    <InputText @bind-Value="ApiForm.ConnectionString" class="form-control"  required
                     placeholder="Server=xxxx;Database=yyy;User Id=zzz;Password=pp;Trusted_Connection=False;MultipleActiveResultSets=true;TrustServerCertificate=True"/>
                </div></div>

                <div class="row">
                <div class="col-md-6 mb-3">
                <label for="exampleFormControlInput4" class="form-label">Methode Type</label>
                <InputSelect @bind-Value="ApiForm.MethodeType" class="form-select">
                    @foreach (ApiMethodeType type in Enum.GetValues(typeof(ApiMethodeType)))
                    {
                        <option value="@type">@type</option>
                    }
                </InputSelect>
                    </div>
                    
                   <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">DB Server Port</label>
                    <InputText @bind-Value="ApiForm.ServerPort" class="form-control" />
                    </div>
                
                
                </div>


                 <div class="row">
               
                    
               

                     <div class="col-md-6 mb-3">
                <label for="exampleFormControlInput4" class="form-label">Authentication  Type</label>
                <InputSelect @bind-Value="ApiForm.ApiAuthType" class="form-select">
                    @foreach (ApiAuthType type in Enum.GetValues(typeof(ApiAuthType)))
                    {
                        <option value="@type">@type</option>
                    }
                </InputSelect>
                    </div>

                         
                </div>


                @if(ApiForm.ApiAuthType == ApiAuthType.Bearer)
                {
                      <div class="row">
                     <div class="col-md-12 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Bearer Token</label>
                    <InputTextArea  @bind-Value="ApiForm.BearerToken" class="form-control" rows="4"/>
                    </div>
                  </div>
                        
                 }


                @if(ApiForm.ApiAuthType == ApiAuthType.Custom)
                 {
                   <div class="row">

                    <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">External Login Url</label>
                    <InputText @bind-Value="ApiForm.AuthUrl" class="form-control" />
                   </div>

                    <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Methode Type</label>
                    <InputSelect @bind-Value="ApiForm.AuthMethodeType" class="form-select">
                    @foreach (ApiMethodeType type in Enum.GetValues(typeof(ApiMethodeType)))
                    {
                        <option value="@type">@type</option>
                    }
                   </InputSelect>
                    </div>

                    @if(ApiForm.AuthMethodeType == ApiMethodeType.Post)
                     {
                           <div class="col-md-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Request Body</label>
                         <InputTextArea @bind-Value="ApiForm.AuthUrlBody" class="form-control" />
                        </div>
                     }

                    </div>   
                    


                     <div class="row">

                    <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Header Key</label>
                    <InputText @bind-Value="ApiForm.AuthHeaderParam" class="form-control" />
                   </div>


                   <div class="col-md-6 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Response Key</label>
                    <InputText @bind-Value="ApiForm.AuthResponseParam" class="form-control" />
                   </div>

                </div>

                 }



                }
            else if (CurrentStep == 2)
            {
                @if(ApiForm?.ApiHeaders != null )
                {
                     @foreach (var header in ApiForm.ApiHeaders)
                   {
                    <div class="row mb-2">
                  <div class="col-md-5">
                    <InputText @bind-Value="header.HeaderKey" class="form-control" placeholder="Header Key" />
                   </div>
                   <div class="col-md-5">
                    <InputText @bind-Value="header.HeaderValue" class="form-control" placeholder="Header Value" />
                   </div>
                   <div class="col-md-2">
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveHeader(header)">Remove</button>
                   </div>
                   </div>
                 }
                }
               

                <button  class="btn btn-primary mb-3" type="button" @onclick="AddHeader">+ Add Header</button>
            }
            else if (CurrentStep == 3)
            {
                
                <div class="row" style="margin-bottom:10px">

                    <div class="col-md-12">
                    <label for="exampleFormControlInput1" class="form-label">Root Prifix</label>
                    <InputText @bind-Value="ApiForm.PrifixRoot" class="form-control"  />
                   </div>


                </div>
               @if(ApiForm?.ApiMaps != null )
                {


                     @foreach (var map in ApiForm.ApiMaps)
                   {
                    <div class="row mb-2">
                  <div class="col-md-3">
                    <InputText @bind-Value="map.FromKey" class="form-control" placeholder="Json Path" />
                   </div>
                   <div class="col-md-3">
                    <InputText @bind-Value="map.MapKey" class="form-control" placeholder="Column Name" />
                   </div>

                   @if(ApiForm.DatabaseType == DatabaseType.SQLServer)
                   {
                       <div class="col-md-3">
                      <InputSelect @bind-Value="map.DataType" class="form-select" required>
                       @foreach (SqlServerDataType type in Enum.GetValues(typeof(SqlServerDataType)))
                       {
                           <option value="@type.ToString()">@type</option>
                       }
                       </InputSelect>
                      </div>
                   }

                   else
                   {
                       <div class="col-md-3">
                      <InputSelect @bind-Value="map.DataType" class="form-select" required>
                       @foreach (OracleDataType type in Enum.GetValues(typeof(OracleDataType)))
                       {
                           <option value="@type.ToString()">@type</option>
                       }
                       </InputSelect>
                      </div>
                   }
                   
 

                   <div class="col-md-3">
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveMap(map)">Remove</button>
                   </div>
                   </div>
                 }
                }
               

                    <button  class="btn btn-primary mb-3" type="button" @onclick="AddMap">+ Add Map</button>
                }

            else if((CurrentStep ==5 && ApiForm.MethodeType == ApiMethodeType.Post) || (CurrentStep ==4 && ApiForm.MethodeType == ApiMethodeType.Get))
            {     
                  @if(!string.IsNullOrEmpty(ApiForm.JobId))
                    {
                          <div class="row">
                          <p>Job ID : @ApiForm.JobId</p>
                          </div>
                    }

                    @if(@isSchJob)
                    {
                         <div class="row">
                         <div class="col-md-8">
                          <label for="exampleFormControlInput4" class="form-label">Hour</label>
                           <InputSelect @bind-Value="ApiForm.ScHour" class="form-select">
                            @foreach (int hour in hours)
                            {
                                   <option value="@hour">@hour</option>
                            }
                     

                            </InputSelect>
                         </div>


                          <div class="col-md-8">
                         <label for="exampleFormControlInput4" class="form-label">Minute</label>
                          <InputSelect @bind-Value="ApiForm.ScMin" class="form-select">
                            @foreach (int min in minutes)
                            {
                                    <option value="@min">@min</option>
                             }
                     

                          </InputSelect>
                          </div>
                    

                </div>  
                    }
                  
               

                <div class="row">
                      <div class="col-md-8">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" @bind="isSchJob">
                      <label class="form-check-label" for="switchCheckChecked">Scheduler run</label>
                    </div>
                    </div>
                </div>
            }
            else if(CurrentStep == 4 && ApiForm.MethodeType == ApiMethodeType.Post)
            {
                    <div class="col-md-12 mb-3">
                  <label class="form-label">API Body</label>
                 <textarea @bind="ApiForm.ApiBody" id="apiBody" class="form-control" rows="10"></textarea>
                 <button type="button" class="btn btn-sm btn-primary mt-2" @onclick="BeautifyJson">Beautify JSON</button>
                  </div>


            }
                <div class="mt-3 d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" @onclick="PrevStep" disabled="@(CurrentStep == 1)">Back</button>
                @if ((CurrentStep < 5 && ApiForm.MethodeType == ApiMethodeType.Post) || (CurrentStep < 4 && ApiForm.MethodeType == ApiMethodeType.Get))
                {
                    <button type="button" class="btn btn-primary" @onclick="NextStep">Next</button>
                }
                else
                {
                    <div>
                     
                         <button class="btn btn-success" type="submit" disabled="@(!_isFormValid)" style="margin:5px">
                                @if(IsSave)
                                {
                                  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>

                                }

                             Submit</button>

                             @if(Id.HasValue)
                            {
                                 <button class="btn btn-outline-info" type="button" @onclick="RecreateTableAPI" disabled="@(!_isFormValid)">
                                 @if(IsReCreate)
                                {
                                      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>

                               }

                             ReCreate</button>
                            }
                           
                    </div>
                 

                }
            </div>
        </div>
    </div>
</EditForm>
}